@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --background-dotted: var(--secondary-inverted);
}

:root {
  --radius: 0.625rem;
  --background: rgba(255, 255, 255, 1);
  --foreground: rgba(33, 33, 33, 1);
  --card: rgba(255, 255, 255, 0.7);
  --card-foreground: rgba(33, 33, 33, 1);
  --popover: rgba(255, 255, 255, 1);
  --popover-foreground: rgba(33, 33, 33, 1);
  --primary: rgba(200, 200, 200, 1);
  --primary-foreground: rgba(33, 33, 33, 1);
  --secondary: rgb(226, 226, 226);
  --secondary-foreground: rgb(78, 78, 78);
  --secondary-inverted: rgb(43, 43, 43);
  --muted: rgba(245, 245, 245, 1);
  --muted-foreground: rgba(140, 140, 140, 1);
  --accent: rgba(245, 245, 245, 1);
  --accent-foreground: rgba(200, 200, 200, 1);
  --destructive: rgba(255, 100, 100, 1);
  --border: rgb(209, 209, 209);
  --input: rgba(230, 230, 230, 1);
  --ring: rgba(200, 200, 200, 1);
  --chart-1: rgba(200, 200, 200, 1);
  --chart-2: rgba(180, 180, 180, 1);
  --chart-3: rgba(220, 220, 220, 1);
  --chart-4: rgba(240, 240, 240, 1);
  --chart-5: rgba(210, 210, 210, 1);
  --sidebar: rgba(250, 250, 250, 1);
  --sidebar-foreground: rgba(33, 33, 33, 1);
  --sidebar-primary: rgba(200, 200, 200, 1);
  --sidebar-primary-foreground: rgba(33, 33, 33, 1);
  --sidebar-accent: rgba(245, 245, 245, 1);
  --sidebar-accent-foreground: rgba(200, 200, 200, 1);
  --sidebar-border: rgba(230, 230, 230, 1);
  --sidebar-ring: rgba(200, 200, 200, 1);
}

.dark {
  --background: rgb(18, 18, 18);
  --foreground: rgba(250, 250, 250, 1);
  --card: rgba(26, 26, 26, 0.7);
  --card-foreground: rgba(250, 250, 250, 1);
  --popover: rgba(30, 30, 30, 1);
  --popover-foreground: rgba(250, 250, 250, 1);
  --primary: rgba(50, 50, 50, 1);
  --primary-foreground: rgba(200, 200, 200, 1);
  --secondary: rgb(10, 10, 10);
  --secondary-inverted: rgb(130, 130, 130);
  --secondary-foreground: rgb(231, 231, 231);
  --muted: rgba(40, 40, 40, 1);
  --muted-foreground: rgba(120, 120, 120, 1);
  --accent: rgba(40, 40, 40, 1);
  --accent-foreground: rgba(200, 200, 200, 1);
  --destructive: rgba(255, 80, 80, 1);
  --border: rgba(179, 179, 179, 0.341);
  --input: rgba(255, 255, 255, 0.15);
  --ring: rgba(80, 80, 80, 1);
  --chart-1: rgba(100, 100, 100, 1);
  --chart-2: rgba(80, 80, 80, 1);
  --chart-3: rgba(120, 120, 120, 1);
  --chart-4: rgba(90, 90, 90, 1);
  --chart-5: rgba(70, 70, 70, 1);
  --sidebar: rgba(30, 30, 30, 1);
  --sidebar-foreground: rgba(250, 250, 250, 1);
  --sidebar-primary: rgba(50, 50, 50, 1);
  --sidebar-primary-foreground: rgba(200, 200, 200, 1);
  --sidebar-accent: rgba(40, 40, 40, 1);
  --sidebar-accent-foreground: rgba(200, 200, 200, 1);
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: rgba(80, 80, 80, 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v170/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2)
    format("woff2");
}

.Icon {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

.bg-dotted {
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(var(--background-dotted) 1px, transparent 0);
}

.btn{
  cursor: pointer;
}

.noselect {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
}

.anim{
  transition: all 0.3s ease-in-out;
}